# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [92]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [93]:
city_weather = "raw_city_weather_data.csv"
city_df = pd.read_csv(city_weather)

city_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Torbay,47.67,-52.73,69.80,37,40,20.80,CA,1592344542
1,1,Tabas,33.60,56.92,89.60,19,0,4.70,IR,1592344543
2,2,Kahului,20.89,-156.47,82.40,61,40,20.80,US,1592344543
3,3,Khatanga,71.97,102.50,48.51,57,92,10.89,RU,1592344487
4,4,Bethel,41.37,-73.41,75.99,49,1,9.17,US,1592344543
...,...,...,...,...,...,...,...,...,...,...
571,571,Río Gallegos,-51.62,-69.22,30.20,92,75,10.29,AR,1592344497
572,572,Sonoita,31.85,-112.83,98.01,6,1,8.99,MX,1592344680
573,573,Port Blair,11.67,92.75,80.76,84,100,20.42,IN,1592344453
574,574,Kaina,12.64,8.59,93.61,35,49,16.37,NG,1592344681
575,575,Icod de los Vinos,28.37,-16.71,75.20,50,20,31.09,ES,1592344681

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [94]:
gmaps.configure(api_key=g_key)

In [95]:
# Store 'Lat' and 'Lng' into  locations 
locations = city_df[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
humidity = city_df["Humidity"].astype(float)

In [96]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [165]:
city_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Torbay,47.67,-52.73,69.80,37,40,20.80,CA,1592344542
1,1,Tabas,33.60,56.92,89.60,19,0,4.70,IR,1592344543
2,2,Kahului,20.89,-156.47,82.40,61,40,20.80,US,1592344543
3,3,Khatanga,71.97,102.50,48.51,57,92,10.89,RU,1592344487
4,4,Bethel,41.37,-73.41,75.99,49,1,9.17,US,1592344543
...,...,...,...,...,...,...,...,...,...,...
571,571,Río Gallegos,-51.62,-69.22,30.20,92,75,10.29,AR,1592344497
572,572,Sonoita,31.85,-112.83,98.01,6,1,8.99,MX,1592344680
573,573,Port Blair,11.67,92.75,80.76,84,100,20.42,IN,1592344453
574,574,Kaina,12.64,8.59,93.61,35,49,16.37,NG,1592344681
575,575,Icod de los Vinos,28.37,-16.71,75.20,50,20,31.09,ES,1592344681

In [178]:
new_city_df = city_df.drop(["Unnamed: 0"], axis = 1)
new_city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Torbay,47.67,-52.73,69.80,37,40,20.80,CA,1592344542
1,Tabas,33.60,56.92,89.60,19,0,4.70,IR,1592344543
2,Kahului,20.89,-156.47,82.40,61,40,20.80,US,1592344543
3,Khatanga,71.97,102.50,48.51,57,92,10.89,RU,1592344487
4,Bethel,41.37,-73.41,75.99,49,1,9.17,US,1592344543
...,...,...,...,...,...,...,...,...,...
571,Río Gallegos,-51.62,-69.22,30.20,92,75,10.29,AR,1592344497
572,Sonoita,31.85,-112.83,98.01,6,1,8.99,MX,1592344680
573,Port Blair,11.67,92.75,80.76,84,100,20.42,IN,1592344453
574,Kaina,12.64,8.59,93.61,35,49,16.37,NG,1592344681
575,Icod de los Vinos,28.37,-16.71,75.20,50,20,31.09,ES,1592344681

In [189]:
new_city_df = new_city_df.loc[new_city_df["Max Temp"] < 81]
new_city_df = new_city_df.loc[new_city_df["Max Temp"] > 64]
new_city_df = new_city_df.loc[new_city_df["Humidity"] < 45]
new_city_df = new_city_df.loc[new_city_df["Cloudiness"] < 35]
new_city_df = new_city_df.loc[new_city_df["Wind Speed"] < 15]
new_city_df = new_city_df.loc[new_city_df["Wind Speed"] > 5]
ideal_vaca = new_city_df

In [190]:
ideal_vaca

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
65,Henties Bay,-22.12,14.28,69.55,36,0,8.84,NaN,1592344519
101,Palmer,42.16,-72.33,80.60,30,20,6.93,US,1592344567
124,Waddān,29.16,16.14,71.91,41,0,10.22,LY,1592344572
191,Belaya Gora,68.53,146.42,80.74,28,1,9.10,RU,1592344546
205,Pindorama,-21.19,-48.91,78.80,34,20,6.93,BR,1592344592
209,Pittsfield,42.45,-73.25,78.01,36,1,5.48,US,1592344424
302,Ziarat,30.38,67.73,66.51,20,0,8.28,PK,1592344615
326,Kununurra,-15.77,128.73,66.20,27,5,5.82,AU,1592344620
332,Karaj,35.84,51.01,80.60,20,0,13.87,IR,1592344621
361,Port Hawkesbury,45.62,-61.35,73.99,37,1,11.41,CA,1592344628
460,Broome,42.25,-75.83,77.00,38,1,6.20,US,1592344652
484,Farah,32.50,62.50,80.64,15,0,5.84,AF,1592344659
493,Kumul,42.80,93.45,79.00,17,0,12.71,CN,1592344661
512,Shelburne,44.08,-80.20,77.00,31,1,8.05,CA,1592344666
528,Çermik,38.14,39.45,77.00,31,2,9.17,TR,1592344669
563,Yumen,40.28,97.20,66.16,25,0,6.13,CN,1592344678

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [191]:
ideal_vaca["Hotel Name"] = ""
hotel_df = ideal_vaca
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
65,Henties Bay,-22.12,14.28,69.55,36,0,8.84,NaN,1592344519,
101,Palmer,42.16,-72.33,80.60,30,20,6.93,US,1592344567,
124,Waddān,29.16,16.14,71.91,41,0,10.22,LY,1592344572,
191,Belaya Gora,68.53,146.42,80.74,28,1,9.10,RU,1592344546,
205,Pindorama,-21.19,-48.91,78.80,34,20,6.93,BR,1592344592,
209,Pittsfield,42.45,-73.25,78.01,36,1,5.48,US,1592344424,
302,Ziarat,30.38,67.73,66.51,20,0,8.28,PK,1592344615,
326,Kununurra,-15.77,128.73,66.20,27,5,5.82,AU,1592344620,
332,Karaj,35.84,51.01,80.60,20,0,13.87,IR,1592344621,
361,Port Hawkesbury,45.62,-61.35,73.99,37,1,11.41,CA,1592344628,
460,Broome,42.25,-75.83,77.00,38,1,6.20,US,1592344652,
484,Farah,32.50,62.50,80.64,15,0,5.84,AF,1592344659,
493,Kumul,42.80,93.45,79.00,17,0,12.71,CN,1592344661,
512,Shelburne,44.08,-80.20,77.00,31,1,8.05,CA,1592344666,
528,Çermik,38.14,39.45,77.00,31,2,9.17,TR,1592344669,
563,Yumen,40.28,97.20,66.16,25,0,6.13,CN,1592344678,

In [192]:
params = {
        "radius": 5000,
        "keyword": "hotel",
        "key": g_key
}

for index, row in hotel_df.iterrows():
    try:
        lat = row["Lat"]
        lng = row["Lng"]

        params["location"] = f"{lat},{lng}"
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        response = requests.get(base_url, params=params)
        hotel = response.json()

        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
        
    except IndexError:
            pass

In [193]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
65,Henties Bay,-22.12,14.28,69.55,36,0,8.84,NaN,1592344519,De Duine Hotel
101,Palmer,42.16,-72.33,80.60,30,20,6.93,US,1592344567,The Trainmaster's Inn
124,Waddān,29.16,16.14,71.91,41,0,10.22,LY,1592344572,
191,Belaya Gora,68.53,146.42,80.74,28,1,9.10,RU,1592344546,
205,Pindorama,-21.19,-48.91,78.80,34,20,6.93,BR,1592344592,PINDORAMA GOLDEN PLAZA HOTEL
209,Pittsfield,42.45,-73.25,78.01,36,1,5.48,US,1592344424,Hotel on North
302,Ziarat,30.38,67.73,66.51,20,0,8.28,PK,1592344615,Grand Hotel
326,Kununurra,-15.77,128.73,66.20,27,5,5.82,AU,1592344620,Freshwater East Kimberley Apartments | Kununur...
332,Karaj,35.84,51.01,80.60,20,0,13.87,IR,1592344621,Amir Kabir Hotel
361,Port Hawkesbury,45.62,-61.35,73.99,37,1,11.41,CA,1592344628,Maritime Inn Port Hawkesbury
460,Broome,42.25,-75.83,77.00,38,1,6.20,US,1592344652,
484,Farah,32.50,62.50,80.64,15,0,5.84,AF,1592344659,
493,Kumul,42.80,93.45,79.00,17,0,12.71,CN,1592344661,哈密环球大酒店
512,Shelburne,44.08,-80.20,77.00,31,1,8.05,CA,1592344666,Shelburne Motel
528,Çermik,38.14,39.45,77.00,31,2,9.17,TR,1592344669,Gıran Park Termal Otel
563,Yumen,40.28,97.20,66.16,25,0,6.13,CN,1592344678,

In [195]:
#Cutting Down the # of cities to 10, based on cities that give back no hotel name. 
#Dropped the city in China as it's name was in a different language, so an easy outlier compared to the other cities.

hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
hotel_df = hotel_df.loc[hotel_df["Country"] != "CN"]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
65,Henties Bay,-22.12,14.28,69.55,36,0,8.84,NaN,1592344519,De Duine Hotel
101,Palmer,42.16,-72.33,80.60,30,20,6.93,US,1592344567,The Trainmaster's Inn
205,Pindorama,-21.19,-48.91,78.80,34,20,6.93,BR,1592344592,PINDORAMA GOLDEN PLAZA HOTEL
209,Pittsfield,42.45,-73.25,78.01,36,1,5.48,US,1592344424,Hotel on North
302,Ziarat,30.38,67.73,66.51,20,0,8.28,PK,1592344615,Grand Hotel
326,Kununurra,-15.77,128.73,66.20,27,5,5.82,AU,1592344620,Freshwater East Kimberley Apartments | Kununur...
332,Karaj,35.84,51.01,80.60,20,0,13.87,IR,1592344621,Amir Kabir Hotel
361,Port Hawkesbury,45.62,-61.35,73.99,37,1,11.41,CA,1592344628,Maritime Inn Port Hawkesbury
512,Shelburne,44.08,-80.20,77.00,31,1,8.05,CA,1592344666,Shelburne Motel
528,Çermik,38.14,39.45,77.00,31,2,9.17,TR,1592344669,Gıran Park Termal Otel

In [196]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [197]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))